
/* Generics */

/* # COUNTDOWN */

/* #countdown {

	font-weight: bolder;
	font-size: 5rem;

} */

/* #NUMBERS */
/* #numbers-list {

	font-size: 3rem;

}

input {

	width: 80px !important;

} */

/* GENERALS */
* {

	padding: 0;
	margin: 0;
	box-sizing: border-box;

}

body {

    font-family: 'Arial', sans-serif;
	background-image: url(../img/memoria-a-breve-termine.jpg);
	background-size: cover;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
    text-align: center;

}

/* CONTAINER PRINCIPALE */
.d-flex {

    border-radius: 10px;
    background-color: rgba(211, 211, 211, 0.5);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 100%;
    box-sizing: border-box;

}

/* COUNTDOWN */
#countdown {

    font-weight: bold;
    font-size: 6rem;
    color: #4caf50;
    margin-bottom: 20px;

}

/* NUMERI */
#numbers-list {

	display: flex;
	gap: 10px; 
	justify-content: center; 
	list-style-type: none; 
	padding: 0;

}

#numbers-list li {

  width: 60px;           
  height: 60px;          
  border-radius: 50%;    
  background-color: #007bff;  
  color: white;          
  display: flex;        
  justify-content: center; 
  align-items: center;   
  font-size: 2rem;       
  font-weight: bold;     
  text-align: center;    

}

#numbers-list li:hover {

    background-color: #0056b3;
	cursor: pointer;

}

/* ISTRUZIONI */
#instructions {

    font-size: 1.5rem;
    margin: 20px 0;
    color: black;

}

/* FORM */
form {

    text-align: center;
    margin-top: 20px;

}

/* GRUPPO INPUT */
#input-group {

    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-bottom: 20px;

}

input {

    width: 80px;
    height: 60px;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #ddd;
    margin: 10px;
    outline: none;
    transition: border-color 0.3s ease;

}

/* Effetto di focus sugli input */
input:focus {

    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);

}

/* PULSANTE DI CONFERMA */
button {

    background-color: #007bff;
    color: white;
    font-size: 1.2rem;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;

}

button:hover {

    background-color: #0056b3;

}

/* MESSAGGIO D'ERRORE */
#message {

    font-size: 1.1rem;
    color: red;
    margin-top: 20px;

}
