
/* Generics */

/* # COUNTDOWN */

/* #countdown {

	font-weight: bolder;
	font-size: 5rem;

} */

/* #NUMBERS */
/* #numbers-list {

	font-size: 3rem;

}

input {

	width: 80px !important;

} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERALS */

/* REGOLE DEL BODY */
body {

    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;

}


/* CONTAINER PRINCIPALE */
.d-flex {

    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 500px;
    width: 100%;
	
}

